/*
 * This file is part of the Access to Memory (AtoM) software.
 *
 * Access to Memory (AtoM) is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Access to Memory (AtoM) is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Access to Memory (AtoM).  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * F    
 * o    #footer > .container
 * o     
 * t     
 * E          |- #foot-logo
 * R          |- #contact
 */

#footer {
  position: relative;
  bottom: 0px;
  border-top: 2px solid @grayLighter;
  background-color: @white;
  width:100%;
  margin: 40px auto;
  padding: 10px 0px;
  }

#footer .container {
  position: relative;
  margin: 15px auto; 
}


#foot-logo {
  .pull-left();
  margin: 00px auto;
  padding: 00px 0px;	
}

#review {
	.pull-right();
	margin: 0px auto;
    padding-bottom: 50px;
}


// Responsive design


  #foot-logo {
    margin: 6px 0 0 0;
    text-align: center;
  }
  #footer {
    height: 180px;

  }

